Package: oneapps
Version: 3.8.3
License: Apache
Vendor: C12G Labs
Architecture: all
Maintainer: C12G Labs <support@c12g.com>
Installed-Size: 1080
#Pre-Depends: 
Section: default
Priority: extra
Homepage: http://opennebula.pro
Description: 
 OpenNebula Apps is a group of tools for users and administrators of OpenNebula that simplifies and optimizes cloud application management.
